$red-dark-gradient: linear-gradient(to left, #870000 , #190A05); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$sub-title-font: 'Satisfy', cursive;
$font-open-sans: 'Open Sans', sans-serif;

